[submodule "Engine/Vendor/SDL"]
	path = Engine/Vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Engine/Vendor/spdlog"]
	path = Engine/Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/Vendor/tlsf"]
	path = Engine/Vendor/tlsf
	url = https://github.com/mattconte/tlsf.git
[submodule "Engine/Vendor/volk"]
	path = Engine/Vendor/volk
	url = https://github.com/zeux/volk.git
[submodule "Engine/Vendor/glm"]
	path = Engine/Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/Vendor/SPIRV-Reflect"]
	path = Engine/Vendor/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "Engine/Vendor/VMA"]
	path = Engine/Vendor/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Engine/Vendor/imgui"]
	path = Engine/Vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Engine/Vendor/tracy"]
	path = Engine/Vendor/tracy
	url = https://github.com/wolfpld/tracy.git
